piCode/.gradle/5.0/fileHashes/fileHashes.bin
piCode/.gradle/5.0/fileHashes/fileHashes.lock
piCode/.gradle/5.0/javaCompile/classAnalysis.bin
piCode/.gradle/5.0/javaCompile/javaCompile.lock
piCode/.gradle/5.0/taskHistory/taskHistory.bin
piCode/.gradle/5.0/taskHistory/taskHistory.lock
piCode/.gradle/buildOutputCleanup/buildOutputCleanup.lock
piCode/bin/main/ca/fourthreethreefour/Main.class
piCode/build/classes/java/main/ca/fourthreethreefour/Main.class
piCode/build/distributions/piCode.tar
piCode/build/distributions/piCode.zip
piCode/build/distributions/piCode-shadow.tar
piCode/build/distributions/piCode-shadow.zip
piCode/build/libs/piCode.jar
piCode/build/libs/piCode-all.jar
piCode/build/scripts/piCode
piCode/build/scripts/piCode.bat
piCode/build/tmp/shadowJar/MANIFEST.MF
.vscode/launch.json
